@{
    ViewBag.Title = "Acerca de";
}


<div class="bg-dark bg-opacity-25 p-5 rounded-3 m-3">
    <p>
        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3><br><br>
        Luis Herrera<br><br>
        Luis Tristancho<br><br>
        Brayan Herrera<br><br>
    </p>
</div>