@{
    ViewBag.Title = "Contacto";
}



<div class="bg-dark bg-opacity-25 p-5 rounded-3 m-3">

    <h2>@ViewBag.Title.</h2>
    <br><br>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</div>