@{
    ViewBag.Title = "Home Page";
}

<div class="bg-dark bg-opacity-25 p-5 rounded-3 m-3">
    <h1>CLIENTE C#</h1>
    <p class="lead">Segunto taller servicios web SOAP</p>
    <p><a href="https://www.unibague.edu.co" class="btn btn-primary btn-lg">Universidad de Ibagué &raquo;</a></p>
</div>

