<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServicioWebParticipantePortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:7101/Servidor-Servidor-context-root/ServicioWebParticipantePort"
                binding="basicHttpBinding" bindingConfiguration="ServicioWebParticipantePortBinding"
                contract="ServiceParticipante.ServicioWebParticipante" name="ServicioWebParticipantePort" />
        </client>
    </system.serviceModel>
</configuration>