
@{
    ViewBag.Title = "Index";
}

<h2>Crear Participante</h2>
<br>
<br>

<div class="row">
    <div class="col">
        <input type="text" name="id" class="form-control" placeholder="ID" aria-label="First name"><br><br>

        <input type="text" name="apodo" class="form-control" placeholder="Apodo" aria-label="Last name"><br><br>

        <input type="datetime-local" name="fechaIns"><br><br>

        <input type="datetime-local" name="fechaCad">

    </div>
    <div class="col">

    </div>
    <div class="col">

    </div>
</div>

